.about_container{
    display:grid;
    grid-template-columns: 35% 50%;
    gap: 16%;
    
}

.about_me{
    
    border-radius: 2rem;
    display:grid;
    place-items: center;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    ); 
}

.about_image{
    border-radius : 2rem;
    overflow:hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about_image:hover{
    transform : rotate(0);
}

.about_cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.5rem;
    
    
}

.about_insideCard{
background: var(--color-bg-variant);
border: 1px solid transparent;
border-radius: 1rem;
padding : 2rem;
text-align: center;
}

.about_insideCard:hover{
    background:transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
}

.about_icon{
    color: var(--color-primary);
    font-size:1.5rem;
    margin-bottom: 1rem;
}

.about_insideCard h5{
    font-size: 0.96rem;
}

.about_insideCard small{
    font-size: 0.86rem;
    color:var(--color-light);
}

.about_content p{
    margin: 2rem 0 2.5rem;
    color:var(--color-light);
}


/*-------------Media -Queries(Medium devices)------------*/
@media screen and (max-width: 1024px) {
    .about_container{
        grid-template-columns: 1fr;
        gap: 8%;
    }
    
    .about_me{
        width:50%;
        margin: auto;
    }
    
    .about_content p{
        margin: 1rem auto 1.5;
    }
}

/*-------------Media -Queries(Small devices)------------*/
@media screen and (max-width: 600px) {
    .about_me{
        width:70%;
        margin: 0 auto;
        
    }
    

    .about_cards{
        grid-template-columns: 1fr 1fr;
        gap:1rem;
        padding:0%;
    }

    .about_content{
        text-align:center;
    }

    .about_content p{
        margin: 1.5rem 0;
    }
}
