.conatiner.testimonial_container{
    width:40%;
}

.colleague_image{
    width:6rem;
    aspect-ratio: 1/1;
    overflow:hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial{
    background:var(--color-bg-variant);
    text-align:center;
    padding: 2rem;
    border-radius : 2rem;
    user-select : none;

}

.colleague_reviews{
    color: var(--color-light);
    font-weight: 350;
    display: block;
    width: 80%;
    margin : 0.8rem auto 0;
}

/*-------------Media -Queries(Medium devices)------------*/
@media screen and (max-width: 1024px) {
    .conatiner.testimonial_container{
        width:60%;
    }   
}

/*-------------Media -Queries(Small devices)------------*/
@media screen and (max-width: 600px) {
    .conatiner.testimonial_container{
        width:var(--container-width-sm);
    }   
    .colleague_reviews{
        width:var(--container-width-sm);
    }   
}
